$.unblockUI();
<% if flash.notice %>

  <% unless params[:skip_edit] %>
    var $newDtls = $('<div class="iox-details-container iox-content">').append( iox.loader );
    $('.iox-content:last').after( $newDtls );
    $('.iox-content').hide();
    $newDtls.show().load( '<%= edit_venue_path(@venue) %>?layout=false' );
  <% end %>


  // in case we have a kendo autocomplete elem
  if( $('.awaiting-new-record-id').length )
    $('.awaiting-new-record-id').data('setNewRecordId')(<%= raw @venue.to_json %>);

  // in case we have a select2 element
  if( $('.select2-container-active').length ){

    $('select.venue-select2').append('<option value="<%= @venue.id %>"><%= @venue.name %></option>')
      .val('<%= @venue.id %>').trigger('change');

    $('.select2-drop').hide();
  }

  if( typeof(reloadPreview) === 'function' )
    reloadPreview();

  iox.Win.closeVisible();

<% end %>

iox.flash.rails( <%= raw flash.to_json %> );