<div class="iox-tabs vertical">

  <ul>
    <li class="active"><a href="#event-general"><%= t('openeras.events.general') %></a></li>
    <li><a href="#event-tickets"><%= t('openeras.events.prices') %></a></li>
  </ul>

  <div class="clearfix">

    <%= form_for @event, html: { class: 'iox-form openeras-event-form' } do |f| %>

      <%= f.submit 'save', class: 'hide' %>

      <%= f.hidden_field :project_id %>

      <div class="field-box w-input">
        <%= f.label t('openeras.event.starts_at') %>
        <%= f.text_field :starts_at, class: 'datetime' %>
        <%= f.check_box :all_day %>
        <span class="desc"><%= t('openeras.event.all_day') %></span>
      </div>

      <div class="field-box w-input">
        <%= f.label t('openeras.event.ends_at') %>
        <%= f.text_field :ends_at, class: 'datetime' %>
      </div>

      <div class="field-box w-input venue-select">
        <%= f.label t('openeras.event.venue') %>
        <%= f.select :venue_id, get_venue_as_option, class: 'select-venue' %>
        <button data-prompt-text="<%= t('openeras.venue.give_name') %>" class="btn new-venue" title="<%= t('openeras.venue.new') %>">
          <i class="icon-plus"></i>
        </button>
      </div>

      <div class="field-box w-input">
        <%= f.label t('openeras.event.event_type') %>
        <%= f.text_field :event_type, placeholder: 'z.B. Premiere, Abgesagt, Derniere', class: 'select2' %>
      </div>

      <div class="field-box w-input">
        <%= f.label t('openeras.event.note') %>
        <%= f.text_area :additional_note %>
      </div>

      <div class="field-box w-input">
        <div class="pull-right" style="margin: 3px 10px 0 0;">
          <input type="checkbox" class="keep-open" />
          <span class="desc"><%= t('keep_open') %></span>
        </div>
        <%= f.label t('openeras.event.available_seats') %>
        <%= f.text_field :available_seats, size: 5 %>
      </div>

    <% end %>

  </div>

  <div class="clearfix" style="width: 800px; height: 490px">

    <% if @event.new_record? %>

      <div class="content-padding" style="text-align: center; margin-top: 50px">
        <%= t('openeras.event.prices_cannot_be_edited_until_saved') %>
      </div>

    <% else %>

    <div class="grid-control prices-control">
      <a class="btn btn-warning apply-project" title="<%= t('openeras.price.update_this_event_desc') %>"><%= t('openeras.price.update_this_event') %></a>
      <a class="btn btn-warning make-template" title="<%= t('openeras.price.make_template_desc') %>"><%= t('openeras.price.make_template') %></a>
      <a class="btn btn-danger apply-systemwide" title="<%= t('openeras.price.apply_systemwide_desc') %>"><%= t('openeras.price.apply_systemwide') %></a>
      <a class="btn add-price"><i class="icon-plus"></i> <%= t('openeras.price.add') %></a>
    </div>

    <div id="prices-grid" style="width: 798px; height: 400px" data-event-id="<%= @event.id unless @event.new_record? %>"></div>

    <% end %>

  </div>

</div>
