<script type="text/html" id="project-tmpl">

  <div class="iox-form-control">

    <% if can_write_plugin?( 'openeras' ) %>
      <a data-bind="attr: { href: '/openeras/projects/'+id }, click: removeItem" class="btn" title="<%= t('delete') %>" data-confirm-proceed="<%= t('really_delete') %>"><span class="icon-trash-o"></span></a>

      <a href="#" data-role="switchBackContent" class="btn" title="<%= t('back_to_list') %>"><i class="icon-list-alt"></i></a>

      <a href="#" data-bind="click: loadNextItem" class="btn" title="<%= t('next_entry') %>"><i class="icon-arrow-circle-right"></i></a>

      <a href="#" data-bind="click: loadPrevItem" title="<%= t('previous_entry') %>" class="btn"><i class="icon-arrow-circle-left"></i></a>

      <a href="#" data-bind="click: saveItem" class="btn btn-primary" title="<%= t('save') %>"><span class="icon-save"></span>&nbsp; <%= t('save') %></a>

      <a class="btn" data-bind="click: publishItem" title="<%= t("openeras.project.view") %>">
        <!-- ko if: published -->
        <i class="icon-ok-sign icon published publish-button"></i>
        <!-- /ko -->
        <!-- ko ifnot: published -->
        <i class="icon-ban-circle icon publish-button"></i>
        <!-- /ko -->
      </a>

    <% end %>

    <a class="btn" data-bind=" attr: { href: '/openeras/projects/'+id }" title="<%= t("openeras.project.view") %>"><i class="icon-eye icon"></i></a>

  </div>


  <div class="iox-tabs openeras-project-tabs">

    <ul>
      <li class="active"><a href="#general"><%= t('openeras.project.general') %></a></li>
      <li data-bind="css: { disabled: (!id || id.length < 1 ) }"><a href="#content"><%= t('openeras.project.text_and_langs') %></a></li>
      <li data-bind="css: { disabled: (!id || id.length < 1 ) }"><a href="#dates"><%= t('openeras.project.dates') %></a></li>
      <li data-bind="css: { disabled: (!id || id.length < 1 ) }"><a href="#files"><%= t('openeras.project.files') %></a></li>
    </ul>

    <div class="clearfix iox-content-padding">

      <div class="content-padding">
        <span class="item-num"></span>
         / 
        <span class="items-total"></span>
      </div>

      <form data-bind="submit: saveItem" class="iox-form openeras-project-form scrollable-content">

        <div class="field-box w-input required">
          <label for="title"><%= t('openeras.project.title') %></label>
          <input type="text" name="project[title]" data-bind="value: title" required validationMessage="<%= t('openeras.project.title_required') %>" />
        </div>

        <div class="field-box w-input">
          <label for="subtitle"><%= t('openeras.project.subtitle') %></label>
          <input type="text" name="project[subtitle]" data-bind="value: subtitle" />
        </div>

        <div class="field-box w-input">
          <label for="title"><%= t('openeras.project.authors') %></label>
          <input type="text" name="project[authors]" class="project-authors select2" data-bind="value: author_names" />
        </div>

        <div class="field-box w-input">
          <label for="title"><%= t('openeras.labels.title') %></label>
          <select id="project-labels" name="project[label_ids]" class="project-labels" data-bind="options: labels, optionsText: 'name', optionsValue: 'id', selectedOptions: labels" />
          <a class="btn new-label" title="<%= t('openeras.label.new') %>" data-prompt-text="<%= t('openeras.label.give_name') %>">
            <i class="icon-plus"></i>
          </a>
        </div>

        <div class="desc">
          <label style="color: red">*</label> <%= t('required_field') %>
        </div>

        <input type="submit" class="hide" />

      </form>

    </div>


    <div class="clearfix iox-content-padding hide">

      <form data-bind="submit: saveTranslation" class="iox-form openeras-project-form scrollable-content">

        <div class="field-box">
          <label for="content"><%= t('openeras.project.lang') %></label>
          <select data-bind="options: available_locales, selectedOptions: locale"></select>
        </div>

        <div class="field-box w-input">
          <label for="content"><%= t('openeras.project.body') %></label>
          <textarea name="translation[content]" class="editor" data-bind="value: translation().content"></textarea>
        </div>

        <div class="fields-header"><%= t('openeras.meta_information') %></div>

        <div class="field-box w-input">
          <label for="meta_description"><%= t('openeras.project.meta_description') %></label>
          <textarea data-bind="value: translation().meta_description"></textarea>
          <div class="desc label-offset"><%= t('openeras.project.meta_description_desc') %></div>
        </div>

        <div class="field-box w-input">
          <label for="meta_keywords"><%= t('openeras.project.meta_keywords') %></label>
          <input type="text" class="project-meta-keywords select2" data-bind="value: translation().meta_keywords" />
          <div class="desc label-offset"><%= t('openeras.project.meta_keywords_desc') %></div>
        </div>

      </form>

    </div>

    <div class="clearfix iox-content-padding hide">

      <div class="iox-grid-header clearfix">
        <a data-bind="attr: { href: '/openeras/projects/'+id+'/events/new' }" style="padding: 0 7px" class="btn btn-success" data-xhr-win="true" data-xhr-win-title="<%= t('openeras.event.new') %>" data-xhr-win-callback="setupEventWin" data-xhr-win-save-form-button="true" title="<%= t('openeras.project.new') %>"><i class="icon-plus"></i></a>
      </div>

      <div id="dates-grid" class="iox-k-grid"></div>

    </div>

    <div class="clearfix iox-content-padding hide">

      <div class="upload-container">
        <span class="icon-plus"></span>
        <input type="file" id="upload" name="file" multiple="true" />
      </div>
      <div id="files-progress"><div style="width:0" class="bar"></div></div>

      <ul id="files-list" class="files-list" data-bind="template: { name: 'file-tmpl', foreach: files }"></ul>

    </div>

  </div>

</script>